name: Deploy odoc

on:
  push:
  release:
    types:
      - published

jobs:
  deploy-doc:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout tree
        uses: actions/checkout@v4

      - name: Set-up OCaml 5
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5
          # disable cache, otherwise generated documentation is missing files
          dune-cache: false

      - run: opam install . --deps-only --with-doc
        shell: bash

      - run: opam exec -- dune build --verbose @doc
        shell: bash

      - name: Deploy odoc to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ github.token }}
          publish_dir: _build/default/_doc/_html
          destination_dir: ${{ github.head_ref || github.ref_name }}
